**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
import math


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
square = [i**2 for i in range (21)]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [7]:
sqrt = [i**(0.5) for i in range(100)]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [31]:
my_list= [-i for i in range(0,11) ]
my_list

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [37]:
odds = [i for i in range(100) if i % 2!=0]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [43]:
divisible_by_seven=[i for i in range(1000) if i%7== 0]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [44]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [47]:
vow_ls=['a','e','i','o','u']
non_vowels=[i for i in teststring if i not in vow_ls]
print(non_vowels)

['F', 'n', 'd', ' ', 'l', 'l', ' ', 'f', ' ', 't', 'h', ' ', 'w', 'r', 'd', 's', ' ', 'n', ' ', ' ', 's', 't', 'r', 'n', 'g', ' ', 't', 'h', 't', ' ', 'r', ' ', 'm', 'n', 's', 'y', 'l', 'l', 'b', 'c']

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [58]:
cap_str= 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters=[i for i in cap_str if i.isupper()]
capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [73]:
cons_st= "The quick brown fox jumped over the lazy dog"
vow_ls=['a','e','i','o','u']
consonants=[i for i in cons_st if i not in vow_ls and i!= " "]

        
print (consonants)

['T', 'h', 'q', 'c', 'k', 'b', 'r', 'w', 'n', 'f', 'x', 'j', 'm', 'p', 'd', 'v', 'r', 't', 'h', 'l', 'z', 'y', 'd', 'g']

# Find the folders you have in your lectures local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

**Hint 2: Watch out for the direction of slashes when writing the path.**

Remember to use list comprehensions and to print your results.

In [103]:
from os import listdir

files = os.listdir("../../../../../lectures")
print(f"Files at {files}")

Files at ['week-2', 'images', 'datasets', 'troubleshooting', 'README.md', 'week-1', '.gitignore', '.git', 'recap-and-solutions.ipynb', 'cheatsheet']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [116]:
import random

random_list=[[random.randint(0,100) for i in range(10) ]for j in range(4)]
random_list

[[89, 97, 88, 30, 73, 9, 7, 0, 35, 36],
 [10, 70, 20, 82, 94, 99, 1, 6, 40, 89],
 [30, 81, 64, 46, 37, 15, 97, 40, 63, 38],
 [15, 17, 71, 75, 38, 71, 20, 17, 70, 81]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [117]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [125]:
flatten_list= [j for i in list_of_lists for j in i]

flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [138]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [139]:
floats= [[float(i) for i in sublist]for sublist in list_of_lists]
print (floats)

[[40.0, 20.0, 10.0, 30.0], [20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0], [30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0], [100.0, 100.0], [100.0, 100.0, 100.0, 100.0, 100.0], [100.0, 100.0, 100.0, 100.0]]

# Handle the exception thrown by the code below by using try and except blocks.

In [133]:
for i in ['a','b','c']:
    print i**2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i**2)? (3439384179.py, line 2)

In [141]:
list_new=[]

for i in ['a','b','c']:
    try:
        list_new.append(i ** 2)
    except:
        print(f"You can't do {i} to the power of 2")

You can't do a to the power of 2
You can't do b to the power of 2
You can't do c to the power of 2

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [162]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [163]:
try:
    z = x / y
except ZeroDivisionError:
    z = 0
    print('All Done.')

All Done.

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [165]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [169]:
try:
    print(abc[3])
    
except IndexError:
    
    print("Error type : IndexError")

Error type : IndexError

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [207]:
in_user1= float(input("first number "))
in_user2= float(input("second number "))
div= in_user1/in_user2
print(div)

first number 3
second number 0

ZeroDivisionError: float division by zero

In [208]:
try:
    
    div= in_user1/in_user2
    print(div)
   
    
except TypeError:
    
    print (" The character you are using is not a number")
    
except  ZeroDivisionError:

    print( "You use '0', so, the only result possible is infinitive")

You use '0', so, the only result possible is infinitive

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [209]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [196]:
try:
    f = open('testfile','r')
    
except FileNotFoundError:
    
    print( "Path described not valid")

Path described not valid

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [220]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (4187890856.py, line 2)

In [224]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

except ValueError:
    print("'i' is not a integer")
except IndentationError:
    print("List containing each line in the file as a list item out of range")
except FileNotFoundError:
    print("File not found")

File not found

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [225]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

NameError: name 'sys' is not defined

In [230]:
try:
    import sys

except NameError:
    print("Module not imported")


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'