**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\danid\miniconda3\envs\ironhack\lib\site-packages (1.24.1)

In [4]:
import math
import random
import os


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [4]:
rand_list = [i**2 for i in range(1, 21)]
print(rand_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [5]:
sqrt_list = [math.sqrt(i) for i in range(101)] 
sqrt_list

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662,
 10.0]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
my_list = [i for i in range(-10,1)]
my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [7]:
odd_numbers = [num for num in range(101) if num % 2 ==1]
odd_numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [8]:
by_seven = [num for num in range(1001) if num % 7 == 1]
by_seven

[1,
 8,
 15,
 22,
 29,
 36,
 43,
 50,
 57,
 64,
 71,
 78,
 85,
 92,
 99,
 106,
 113,
 120,
 127,
 134,
 141,
 148,
 155,
 162,
 169,
 176,
 183,
 190,
 197,
 204,
 211,
 218,
 225,
 232,
 239,
 246,
 253,
 260,
 267,
 274,
 281,
 288,
 295,
 302,
 309,
 316,
 323,
 330,
 337,
 344,
 351,
 358,
 365,
 372,
 379,
 386,
 393,
 400,
 407,
 414,
 421,
 428,
 435,
 442,
 449,
 456,
 463,
 470,
 477,
 484,
 491,
 498,
 505,
 512,
 519,
 526,
 533,
 540,
 547,
 554,
 561,
 568,
 575,
 582,
 589,
 596,
 603,
 610,
 617,
 624,
 631,
 638,
 645,
 652,
 659,
 666,
 673,
 680,
 687,
 694,
 701,
 708,
 715,
 722,
 729,
 736,
 743,
 750,
 757,
 764,
 771,
 778,
 785,
 792,
 799,
 806,
 813,
 820,
 827,
 834,
 841,
 848,
 855,
 862,
 869,
 876,
 883,
 890,
 897,
 904,
 911,
 918,
 925,
 932,
 939,
 946,
 953,
 960,
 967,
 974,
 981,
 988,
 995]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [9]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [10]:
vowels = ["a","e","i","o","u"]
non_vowels = [char for char in teststring if char not in vowels]
non_vowels

['F',
 'n',
 'd',
 ' ',
 'l',
 'l',
 ' ',
 'f',
 ' ',
 't',
 'h',
 ' ',
 'w',
 'r',
 'd',
 's',
 ' ',
 'n',
 ' ',
 ' ',
 's',
 't',
 'r',
 'n',
 'g',
 ' ',
 't',
 'h',
 't',
 ' ',
 'r',
 ' ',
 'm',
 'n',
 's',
 'y',
 'l',
 'l',
 'b',
 'c']

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [11]:
sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'

capital_letters = [char for char in sentence if char.isupper()]
capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [12]:
consonants = [char for char in sentence if char not in vowels]
consonants

['T',
 'h',
 ' ',
 'Q',
 'c',
 'k',
 ' ',
 'B',
 'r',
 'w',
 'n',
 ' ',
 'F',
 'x',
 ' ',
 'J',
 'm',
 'p',
 'd',
 ' ',
 'O',
 'v',
 'r',
 ' ',
 'T',
 'h',
 ' ',
 'L',
 'z',
 'y',
 ' ',
 'D',
 'g']

# Find the folders you have in your lectures local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

**Hint 2: Watch out for the direction of slashes when writing the path.**

Remember to use list comprehensions and to print your results.

In [27]:
print(os.path.abspath("..\..\lectures"))

C:\Users\danid\OneDrive\COURSES\IRONHACK\lectures

In [23]:
!pwd

/c/Users/danid/OneDrive/COURSES/IRONHACK/lab-errhand-listcomp/your-code

In [34]:
main_dir = os.listdir("..\..\lectures")
files = [type_file for type_file in os.listdir("..\..\lectures") if os.path.isdir(type_file)]
files

[]

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [45]:
n = random.randint(0,100)
print(n)
list1 = [i for i in n while i < 11]

list2 = random.randint(0,100)

list3 = random.randint(0,100)

list4 = random.randint(0,100)

SyntaxError: invalid syntax (191720040.py, line 3)

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [ ]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

# Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
for i in ['a','b','c']:
    print i**2

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [ ]:
x = 5
y = 0

z = x/y

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [ ]:
abc=[10,20,20]
print(abc[3])

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [ ]:
f = open('testfile','r')
f.write('Test write this')

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [ ]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [ ]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [ ]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))